html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body{
    background-color: rgb(43, 41, 52);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    padding: 15px 0 15px 0;
    margin-top: 0;
    border-bottom: solid 3px rgb(0, 0, 92);
    border-radius: 8px 8px 0 0;
    background-color: rgb(32, 143, 143);
    display: flex;
    flex: auto;
    justify-content: center;
}

#digits button{
    font-size:xx-large;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin: 5px;
}

span{
    font-size:xx-large;
    width: 60px;
    height: 60px;
}

#result{
    width: 180px;
    height: 50px;
    margin: 0 0 10px 0;
    border-radius: 15px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    font-size: xx-large;
}

#calculator{
    
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    padding: 0 0 30px 0;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 91, 147);
    border-radius: 8px 8px 20px 20px;
    margin-top: 30px;

}



#container{
    display: flex;
    flex-direction: column;
}

#digits{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#operators{

    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

#operators button{
    background-color: rgb(234, 179, 51);
    font-size:xx-large;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 2.5px;
}

.clear-btn {
    background-color: rgb(183, 183, 183);
}

.backspace-btn{
    color: black;
}
