html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body{
    background-color: rgb(37, 41, 54);
    color: antiquewhite;
}

h1{
    text-align: center;
    margin-bottom: 35px;
}

button{
    font-size:xx-large;
    width: 60px;
    height: 60px;
}
#result{
    width: 180px;
    height: 60px;
    background-color: white;
    color: black;
}

#calculator{
    display: flex;
    justify-content: center;

}

#container{
    display: flex;
    flex-direction: column;
}

#digits{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#operators{
    margin-left: 5px;
    width: 60px;
    display: flex;
    flex-direction: column;

}